/*header and content */
header{
	background-color:2a69f5;
	margin-top:0px;
	padding: 0px;
}
#content{
	background-color: 0a0a0a;
	margin: 0px;
	padding:0px; 
}
body{
	margin: 0px;
	padding: 0px;	
}
/*navigation*/
nav{
	background-color: 0a0a0a;
	color:white;
	margin-top:auto;



}