/*header and content */
header{
	background-color:#2a69f5;
	margin:0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
		
}
/*navigation*/
a{
	text-decoration: none;
	color: white;
}
section{
	background-color: #da0f1e;
	height:50%;
	width: 50%;

}

#logo{
		margin-left: 500px;	
}
/**footer*/
footer{
	background-color: #2a69f5; 
	height:40px;
	width:100%;
	text-align: center;
	margin-top: 500px;
	position:absolute;
}
#logo-foot{
	height:30px;
	width: 80px

}